body {
  text-align: center;
}

#grid {
  
  width: 300px;
  height: 300px;
  margin: 0 auto;
}
.row {
  display: flex;
  flex-direction: row;
}
#grid .square {
  border: 2px solid black;
  width: 100px;
  height: 100px;
}

#grid .square p {
  font-size: 85px;
  margin: 0 auto;
}
#grid .square:hover {
  background-color: blue;
}


