body {
  text-align: center;
  font-family: "Comic Sans MS";
  animation: backgroundColor 10s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes backgroundColor {
  0% {background-color: rgb(0, 195, 255)}
  50% {background-color: rgb(195, 0, 255)}
  100% {background-color: rgb(0, 195, 255)}
}

h1 {
  font-weight: 500;
  font-size: 70px;
}

#grid-container {
  display: flex;
  justify-content: center;
  padding: 50px 100px;
}

#grid {
  
  width: 312px;
  height: 312px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  background-color: white;
}
.row {
  display: flex;
  flex-direction: row;
}
#grid .square {
  border: 2px solid black;
  width: 100px;
  height: 100px;
}

#grid .square p {
  font-size: 70px;
  margin: 0 auto;
}
.empty:hover {
  background-color: rgb(194, 153, 233);
}

.winner {
  font-size: 60px;
  animation: winnerMessage 1s;
  animation-timing-function: linear;
}

.emoji {
  font-size: 100px;
  animation: flash 0.25s ;
  animation-iteration-count: 5;
}

#left {
  transform: scale(-1, 1);
}

@keyframes winnerMessage {
0% {font-size: 20px;}
25% {font-size: 30px;}
50%{font-size: 40px;}
75%{font-size: 50px;}
100% {font-size: 60px;}
}

@keyframes flash {
  0% {opacity: 0; }
  100% {opacity: 1;}
}

